datasets
archieve
PPT
*.png
*.npy
*.jpg
*.jpeg
.venv
.vscode
__pycache__
__MACOSX
out
*.pt
*.pth
*.log
*.pdf
*.zip
*.tar.gz
*.csv
*.tsv
*.json
*.xml
*.h5
*.ckpt
*.bin
*.onnx
*.pb
*.tflite
*.ipynb
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.dylib
